body {
    padding-top: 80px;
}

.navbar {
    margin-bottom: 0px;
    padding: 10px 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.navbar-inverse .navbar-nav>li>a {
    color: #cccccc;
}

.navbar img {
    height: 100%;
    width: 8%;
}

.cbp-af-header-shrink {
    padding-bottom: 5px;
    padding-top: 5px;
    opacity: 0.9;
}